.text-sm {
  font-size: 12px;
}

.pageHeader {
  font-weight: 400;
  margin: 64px 0 84px;
}

.btn-primary {
  padding: 16px 32px;
  border: 2px solid #211f1a;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
}
.btn-primary:hover {
  background: #211f1a;
  color: white;
}

.btn-accent {
  padding: 16px 32px;
  border: 2px solid #294c12;
  color: #294c12;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
}
.btn-accent:hover {
  background: #294c12;
  color: white;
}

.btn-accent--fill {
  padding: 16px 32px;
  border: 2px solid #294c12;
  width: 300px;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #294c12;
  font-weight: 500;
}

.btn-secondary {
  padding: 16px 32px;
  border: 2px solid rgba(33, 31, 26, 0.6);
  color: rgba(33, 31, 26, 0.6);
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
}
.btn-secondary:hover {
  background: rgba(33, 31, 26, 0.6);
  color: white;
}

.btn-negative {
  padding: 16px 32px;
  border: 2px solid #ff2f2f;
  color: #ff2f2f;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
}
.btn-negative:hover {
  background: #ff2f2f;
  color: white;
}

.roomCardContainer {
  display: flex;
  border: 1px solid #211f1a;
  border-radius: 16px 16px 0px 16px;
  width: 1041px;
  height: 384px;
  margin-bottom: 42px;
}
.roomCardContainer:hover {
  background-color: #211f1a;
  color: white;
  transition: 350ms;
}
.roomCardContainer__img {
  width: 1000px;
}
.roomCardContainer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.roomCardContainer__body {
  display: flex;
  flex-direction: column;
}
.roomCardContainer__body .cardBodyWrapper {
  padding: 36px 46px 36px 24px;
  border-bottom: 1px solid #211f1a;
}
.roomCardContainer__body .cardBodyWrapper__title {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  line-height: 34px;
}
.roomCardContainer__body .cardSummary {
  display: flex;
  align-items: center;
  height: 100%;
}
.roomCardContainer__body .cardSummary .cardPrice {
  border-right: 1px solid #211f1a;
  background-image: url(../image/gradient-card.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  text-align: center;
}
.roomCardContainer__body .cardSummary .cardBookingCta {
  width: 50%;
  height: 100%;
  text-align: center;
}

.summaryFontLarge {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 98px;
  margin-top: 24px;
}

.navBarLogo {
  width: 60px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
.navBar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 24px;
}
.navBar__item div:nth-child(2) {
  font-size: 24px;
}

footer {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 0;
}

.footerWrapper {
  width: 1440px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerWrapper__ctaContainer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.footerWrapper__ctaContainer button {
  background: none;
  color: white;
}

#guestPickerPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  display: flex;
}

.guestCounterField {
  width: 350px;
  padding: 0 16px;
  margin-right: 20px;
  border: 1px solid #211f1a;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counterBtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

#datePickerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datePicker {
  padding: 16px 32px 16px 16px;
  width: 350px;
  background-color: transparent;
  border: 1px solid #211f1a;
  border-radius: 9px;
  margin-right: 20px;
}

#roomPickerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #fffaf8;
}/*# sourceMappingURL=style.css.map */