// ! Abstracts
@use "./abstracts/font";
@use "./abstracts/buttons";

// ! Components
@use "./components/RoomCard";
@use "./components/ReceiptEnhancements";
@use "./components/enhancementRemoveCta";
@use "./components/confirmationPopUpSection";

// ! Layout
@use "./layout/header";
@use "./layout/footer";
@use "./layout/stepFormContainer";
@use "./layout/GuestPickerPage";
@use "./layout/DatePickerPage";
@use "./layout/RoomPickerPage";
@use "./layout/CheckOutPage";

body {
  color: #211f1a;
  background-color: #fffaf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}
