.enhancementRemoveCta {
  height: 72px;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  &__added {
    color: #007205;
    font-weight: 500;
    width: 50%;
    text-align: center;
    margin-top: 12px;
  }
  &__ctaBtn {
    width: 50%;
  }
}
