.roomCardContainer {
  display: flex;
  border: 1px solid #211f1a;
  border-radius: 16px 16px 0px 16px;
  width: 1041px;
  height: 384px;
  margin-bottom: 42px;
  &:hover {
    background-color: #211f1a;
    color: white;
    transition: 350ms;
  }

  &__img {
    width: 1000px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 0 0 15px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    .cardBodyWrapper {
      padding: 36px 46px 36px 24px;
      border-bottom: 1px solid #211f1a;

      &__title {
        font-size: 32px;
        font-weight: 400;
        margin: 0;
        line-height: 34px;
      }
    }
    .cardSummary {
      display: flex;
      align-items: center;
      height: 100%;
      .cardPrice {
        border-right: 1px solid #211f1a;
        background-image: url(../image/gradient-card.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        text-align: center;
      }
      .cardBookingCta {
        width: 50%;
        height: 100%;
        text-align: center;
      }
    }
  }
}

.summaryFontLarge {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
