#checkOutPage {
  display: flex;
  justify-content: center;
  .checkOutPageContainer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 1000px;
    border: 1px solid red;
    &-roomDetailSection {
      width: 35%;
      padding: 12px;
      border: 1px solid blue;
      img {
        width: 100%;
      }
    }
    &-guestInfoSection {
      width: 35%;
      padding: 12px;

      border: 1px solid green;
    }
    &-receiptSection {
      width: 30%;
      padding: 12px;
    }
  }
}
