footer {
  width: 100vw;
  height: 58px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

.footerWrapper {
  width: 1440px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__ctaContainer {
    display: flex;
    justify-content: space-between;
    button {
      background: none;
      color: white;
    }
  }
}
